<%- include('header.ejs') %>
        <main>
            <section class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <% if (typeof errors != 'undefined') { 
                            errors.forEach(err => { %>
                                <p><%= err.msg %></p>
                            <% }); %>
                        <% } %>
                        <form action="" method="post">
                            <div class="mb-3">
                                <label for="category-name" class="form-label">
                                    Category Name
                                </label>
                                <input 
                                    class="form-control" 
                                    type="text" 
                                    name="category-name" 
                                    id="category-name" 
                                    value="<%= data.category != undefined ? data.category.name : '' %>"
                                />
                            </div>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </section>    
        </main>
<%- include('footer.ejs') %>