        <footer>
            <h2>This is the footer.</h2>
            <script src="/js/jquery.min.js"></script>
            <script src="/js/bootstrap.js"></script>
        </footer>
    </body>
</html>