<%- include('header.ejs') %>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    filters
                </div>
                <div class="col-lg-10">
                    <div class="d-flex justify-content-end mb-4">
                        <a class="btn btn-primary" href="/genres/create">Add Genre</a>
                    </div>
                    <div class="row">
                        <% data.genreList.forEach(genre => { %>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                      <h5 class="card-title"><%= genre.name %></h5>
                                      <div class="btn-group">
                                          <a href="" class="btn btn-sm btn-primary">Products</a>
                                          <a href="" class="btn btn-sm btn-secondary">Update</a>
                                          <a href="" class="btn btn-sm btn-danger">Delete</a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </main>
<%- include('footer.ejs') %>