<%- include('header.ejs') %>
        <main>
            <section class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <form action="" method="post">
                            <div class="mb-3">
                                <label for="genre-name" class="form-label">
                                    Genre Name
                                </label>
                                <input 
                                    class="form-control" 
                                    type="text" 
                                    name="genre-name" 
                                    id="genre-name" 
                                    value="<%= data.genre != undefined ? data.genre.name : '' %>"
                                />
                            </div>
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </section>    
        </main>
<%- include('footer.ejs') %>