<%- include('header.ejs') %>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    filters
                </div>
                <div class="col-lg-10">
                    <div class="row">
                        <% data.vendorList.forEach(vendor => { %>
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                      <h5 class="card-title"><%= vendor.name %></h5>
                                      <a href="<%= vendor.products %> " class="btn btn-primary">View Products</a>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </main>
<%- include('footer.ejs') %>